body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

.header {
    grid-column: 2 / 3;
}

.sidebar {
    grid-column: 1 / 2;
}

.main-content {
    grid-column: 2 / 3;
}

.header {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}